{
	"singleQuote": true,
	"endOfLine": "lf",
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"printWidth": 140,
	"arrowParens": "always",
	"orderedImports": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false
}
